.courselist-outer {
  background-color: #000814;
  color: white;
  padding: 20px 1.5rem;
}

.courselist-inner h1{
  text-align: center;
}

.courseCardContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  margin: 30px 1rem;
}

.myCourses{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  margin: 30px 1rem;
}

.courselist-inner h1:nth-child(3) {
  margin-top: 80px;
}

.filterContainer {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.paginationBox  {
  color: #fff;
  background-color: red;
}